@charset "UTF-8";

body {
    margin: 0px;
}

.post-container {
    background-color: #fffafa;
    width: 70%;
    margin: auto;
}

.post {
    padding: 10px 50px 10px 50px;
}

h1 {
    font-family: 'Montserrat';
}

.date {
    color: #008080;
    font-family: 'Roboto';
}

.post-content {
    font-family: 'Open Sans';
}