@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'century gothic';
}

body {
    border: 2px solid black;
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item {
    border: 1px solid black;
    padding: 10px;
}


